/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 50px;
  padding-bottom: 40px;
  color: #fff;
}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-inverse {
    background-color: rgb(0, 169, 224);
    border-color: rgb(0, 169, 224);
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 900px;
  margin-bottom: 60px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top : 20px;
  color: #000000;
  text-align: center;
  text-shadow: none;
  
}

.carousel-indicators {
  bottom : 5%;
 }

.carousel-indicators li {
  background-color: #777;
  background-color: rgba(30,30,30,.25);
}

.carousel-indicators .active {
  background-color: #000;
}

.carousel-control {
  text-align: left;
}

.carousel-control.right {
    right: 0px;
    left: auto;
    background-repeat: repeat-x;
    background-image: linear-gradient(to left, rgba(0, 169, 224, 1), transparent 60%);
}

.carousel-control.left {
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, rgba(0, 169, 224, 1), transparent 60%);
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-control:hover 
{
  color: #000000;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 900px;
  /*background-color: #fff;*/
  text-align: center;
  vertical-align: middle;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 900px;
}



.carousel.carousel-fade .item {
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	opacity:0;
}

.carousel.carousel-fade .active.item {
	opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
	left: 0;
	z-index: 1;
}

.carousel.carousel-fade .carousel-control {
	z-index: 3;
}

.footer {
	color:white;
        font-size: 20px;
        padding-top: 12px;
	
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: rgb(0, 169, 224)
}

.titre {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: rgb(0, 169, 224);
  text-align=center;
}

.lead {
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.footer {
	
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    

  .featurette-heading {
    font-size: 30px;
  }

}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicons-chevron-left,
  .carousel-control .glyphicons-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 10%;
    left: 10%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

@media (min-width: 1250px) {
  .featurette-heading {
    margin-top: 100px;
    font-size: 40px
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

@media (min-width: 1900px) {
  .container {
    width: 1900px;
  }
}

