/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 100px;
  padding-bottom: 20px;
  
}

.navbar-inverse {
    background-color: rgb(0, 169, 224);
    border-color: rgb(0, 169, 224);
}

.panel-primary {
    border-color: rgb(0, 169, 224);
}

.panel-primary > .panel-heading {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 169, 224);
    border-color: rgb(0, 169, 224);
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 169, 224);
    border-color: rgb(0, 169, 224);
}

html,body{height:100%;}
.item,.active{height:100%;}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron {
    background-image:url('img/home/bigdata_bandeau.png');
    color:white;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-repeat:no-repeat;
}

.lead {
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
   font-size:32px;
}

.panel-title {
font-size: 28px;
}

@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

.footer {
	color:white;
        font-size: 20px;
        padding-top: 12px;
	
}
